<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
          <h3 class="mb-0">Usuarios</h3>
          <button class="btn btn-success btn-sm" (click)="create()">Crear</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Correo</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{ user.id }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Opciones">
                      <button class="btn btn-warning btn-sm" (click)="view(user.id)">Ver</button>
                      <button class="btn btn-primary btn-sm" (click)="edit(user.id)">Editar</button>
                      <button class="btn btn-danger btn-sm" (click)="delete(user.id)">Eliminar</button>
                      <button class="btn btn-warning btn-sm" (click)="viewDevices(user.id)">Dispositivos</button>
                      <button class="btn btn-info btn-sm" (click)="viewPasswords(user.id)">Contraseñas</button>
                      <button class="btn btn-secondary btn-sm" (click)="viewAddress(user.id)">Dirección</button>
                      <button class="btn btn-warning btn-sm" (click)="viewRoles(user.id)">Roles</button>
                      <button class="btn btn-warning btn-sm" (click)="viewDigitalSignature(user.id)">Firma digital</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
