<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
          <h3 class="mb-0">Roles</h3>
          <button class="btn btn-success btn-sm" (click)="create()">Crear</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let role of roles">
                  <td>{{ role.name }}</td>
                  <td>{{ role.description }}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Opciones">
                      <button class="btn btn-warning btn-sm" (click)="view(role.id)">Ver</button>
                      <button class="btn btn-primary btn-sm" (click)="edit(role.id)">Editar</button>
                      <button class="btn btn-danger btn-sm" (click)="delete(role.id)">Eliminar</button>
                      <button class="btn btn-secondary btn-sm" (click)="viewUsers(role.id)">Usuarios</button>
                      <button class="btn btn-secondary btn-sm" (click)="viewPermissions(role.id)">Permisos de rol</button>

                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
