<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-2 text-xl font-black">{{question.name}}</h3>
          <p class="mb-0">{{question.description}}</p>
        </div>
        <div class="card-body">
          <table class="table table-hover table-bordered">
            <tbody>
              <tr *ngFor="let answer of answers">
                <td><strong>{{ answer.content }}</strong></td>
              </tr>
            </tbody>
          </table>
          <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
            <textarea #qInput class="form-control mr-1" placeholder="Responde algo..."
              (input)="changeContent($event)" ></textarea>
            <button *ngIf="!answer.id" [ngClass]="canCreate ? 'btn btn-success btn-md' : 'btn btn-disabled btn-md'" [disabled]="!canCreate"
              (click)="create()">Crear</button>
            <button *ngIf="answer.id" [ngClass]="canCreate ? 'btn btn-success btn-md text-nowrap' : 'btn btn-disabled btn-md text-nowrap'" [disabled]="!canCreate"
              (click)="update()">Cambiar respuesta</button>
            <button *ngIf="answer.id" class="btn btn-danger btn-md text-nowrap"
              (click)="delete()">Eliminar respuesta</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>